name: NPM publish CD workflow

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.release.target_commitish }}
    - name: Use Node.js 14
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
        registry-url: https://registry.npmjs.org/
    - run: npm ci
    - run: git config --global user.name "Github Actions"
    - run: git config --global user.email "actions@users.noreply.github.com"
    - run: npm run build
    - run: npm test
    - run: npm version ${{ github.event.release.tag_name }}
    - run: npm run dist:tag
      env:
        BRANCH_NAME: ${{github.event.release.target_commitish}}
        TAG_NAME: ${{github.event.release.tag_name}}
        REPO: ${{github.repository}}