name: NPM publish CD workflow

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - run: echo "tag name should be same as tag version"
    - run: exit 1
        if: github.event.release.tag_name == github.event.release.name
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.release.target_commitish }}
    - name: Use Node.js 14
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
        registry-url: https://registry.npmjs.org/
    - run: npm ci
    - run: git config --global user.name "github-actions[bot]"
    - run: git config --global user.email "github-actions[bot]@users.noreply.github.com"
    - run: npm run build
    - run: npm test
    - run: npm run release
      env:
        BRANCH_NAME: ${{github.event.release.target_commitish}}
        TAG_NAME: ${{github.event.release.tag_name}}
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    - run: git push
      env:
        github-token: ${{ secrets.GITHUB_TOKEN }} 