name: NPM publish CD workflow

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.release.target_commitish }}
    - name: Use Node.js 14
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
        registry-url: https://registry.npmjs.org/
    - run: npm ci
    - run: git config --global user.name "github-actions[bot]"
    - run: git config --global user.email "github-actions[bot]@users.noreply.github.com"
    - run: npm run build
    - run: npm test
    - run: npm version ${{ github.event.release.tag_name }}
      env:
        # Use a token to publish to NPM. See below for how to set it up
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    # push the version changes to GitHub
    - run: git push
      env:
        # The secret is passed automatically. Nothing to configure.
        github-token: ${{ secrets.GITHUB_TOKEN }}
    - run: npm run release
      env:
        BRANCH_NAME: ${{github.event.release.target_commitish}}
        TAG_NAME: ${{github.event.release.tag_name}}
        REPO: ${{github.repository}}
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}